@model IEnumerable<WebStore.Models.Employee>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employees</title>
</head>
<body>

<table>
    @foreach (var emploee in Model)
    {
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    }
</table>

</body>
</html>
