
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Some</title>
</head>
<body>
<h2>Some</h2>
<p>Дргое представление</p>
<p>Дргое представление</p>
<a href="~/Home/Index">Основное представление</a>
</body>
</html>
